# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '2a175992-247b-463c-8f5e-d20a95675f2c'
  imageRepository: 'favoritebeer'
  containerRegistry: 'jmeisnertestacr.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/spa-react-netcore-redis/voting/voting/Dockerfile'
  buildContextPath: '$(Build.SourcesDirectory)/spa-react-netcore-redis/voting'
  helmChartPath: '$(Build.SourcesDirectory)/spa-react-netcore-redis/voting/voting/k8s/Chart'
  valueFilePath: '$(Build.SourcesDirectory)/spa-react-netcore-redis/voting/voting/k8s/Chart/values.yaml'
  aksServiceConnection: 'd096e26f-577c-4fe9-9ec0-56c53100cec5'
  tag: 'jm-$(Build.BuildId)'
  releaseName: 'demo'
  
  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        buildContext: $(buildContextPath)
        tags: |
          $(tag)

- stage: Deploy
  displayName: Deploy to Cluster
  jobs:  
  - job: Deploy
    displayName: Deploy
    pool:
      vmImage: $(vmImageName)
    steps:

    - task: HelmInstaller@1
      displayName: Helm installer
      inputs: 
        helmVersionToInstall: 3.0.2

    - task: HelmDeploy@0
      displayName: Helm install
      inputs:
        connectionType: Kubernetes Service Connection
        kubernetesServiceEndpoint: $(aksServiceConnection)
        command: upgrade
        overrideValues: 'image.repository=$(containerRegistry)/$(imageRepository),image.tag=$(tag)'
        chartType: FilePath
        chartPath: $(helmChartPath)
        valueFile: $(valueFilePath)
        releaseName: $(releaseName)
        install: true
        failOnStderr: false

    - task: HelmDeploy@0
      displayName: Helm list
      inputs:
        connectionType: Kubernetes Service Connection
        kubernetesServiceEndpoint: $(aksServiceConnection)
        command: ls
        arguments: --all-namespaces